extends layout.pug

block content  
    h1 New Book
    
    //- Show message if there is a validation error
    if errors
        h2(class='error') Oooops!
        ul
            each error in errors
                li(class='error') #{ error.message }

    br
    br
    //- post form to /books/new route to create new book
    form(action="/books" method='POST')
        p
            label(for="title") Title
            input(type="text" name='title' id='title')
        p
            label(for="author") Author
            input(type="text" name='author' id='author')
        p
            label(for="genre") Genre
            input(type="text" name='genre' id='genre')
        p   
            label(for="year") Year
            input(type="text" name='year' id='year')
        p  
            input(type="submit" value='Create New Book')
        p
            a(href="/books" class='button') Cancel